body {
    background-color: grey;
    border: solid 4px black;
}
#heading {
    font-size: 40px;
    text-align: center;
}
#firstflexbox {
    height: 400px;
    width: 1800px;
    border: solid 2px black;
    margin: 50px;
    text-align: center;
    background: rgb(92, 92, 165);
}
#par {
    margin: 20px;
    font-size: 20px;
}
.boxes {
    margin: 50px;
    border: solid 3px black;
    height: 60px;
    font-size: 40px;
}
#codeone {
    margin: 10px
}
#secondflexbox {
    height: 400px;
    width: 85%;
    border: solid 2px black;
    margin: 50px;
    background: rgb(92, 92, 165);
    display: flex;
    
}
.boxes2 {
    margin: 50px;
    border: solid 3px black;
    height: 300px;
    width: 500px;
    font-size: 40px;
    text-align: center;
}
#picture {
    flex-grow: 2;
    border: solid 4px black;
    background-color: red;
    height: 50%;

}

#none {
    border: solid 4px black;
    background-color: rgb(230, 173, 19);
    height: 50%;
    flex-grow: 1;
}
#start {
    border: solid 4px black;
    background-color: skyblue;
    height: 50%;
    flex-grow: 1;
    align-self: start;
}
#center {
    border: solid 4px black;
    background-color: lightyellow;
    height: 50%;
    flex-grow: 1;
    align-self: center;
}#end {
    border: solid 4px black;
    background-color: lightpink;
    height: 50%;
    flex-grow: 1;
    align-self: end;
}